
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/geoserver/openlayers/theme/default/style.css"/>
<!-- Basic CSS definitions -->
<style type="text/css">
        /* General settings */
    body {
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: small;
    }
        /* Toolbar styles */
    #toolbar {
        position: relative;
        padding-bottom: 0.5em;
        display: none;
    }

    #toolbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #toolbar ul li {
        float: left;
        padding-right: 1em;
        padding-bottom: 0.5em;
    }

    #toolbar ul li a {
        font-weight: bold;
        font-size: smaller;
        vertical-align: middle;
        color: black;
        text-decoration: none;
    }

    #toolbar ul li a:hover {
        text-decoration: underline;
    }

    #toolbar ul li * {
        vertical-align: middle;
    }

        /* The map and the location bar */
    #map {
        clear: both;
        position: relative;
        width: 512px;
        height: 412px;
        border: 1px solid black;
    }

    #wrapper {
        width: 512px;
    }

    #location {
        float: right;
    }

    #options {
        position: absolute;
        left: 13px;
        top: 7px;
        z-index: 3000;
    }

        /* Styles used by the default GetFeatureInfo output, added to make IE happy */
    table.featureInfo, table.featureInfo td, table.featureInfo th {
        border: 1px solid #ddd;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        font-size: 90%;
        padding: .2em .1em;
    }

    table.featureInfo th {
        padding: .2em .2em;
        font-weight: bold;
        background: #eee;
    }

    table.featureInfo td {
        background: #fff;
    }

    table.featureInfo tr.odd td {
        background: #eee;
    }

    table.featureInfo caption {
        text-align: left;
        font-size: 100%;
        font-weight: bold;
        padding: .2em .2em;
    }
</style>
<!-- Import OpenLayers, reduced, wms read only version -->
<script src="http://127.0.0.1:8080/geoserver/openlayers/OpenLayers.js" type="text/javascript">
</script>

<script  type="text/javascript">



    $(document).ready(function(){
        var map, layer, control;
        var poligonos_funvisis;
        var select ;
        var open_street;

        //*****************settings*****************//
        //OpenLayers.ProxyHost= "proxy.cgi?url=";
        format = 'image/gif';
        var bounds = new OpenLayers.Bounds(
                -66.9101945258253, 10.4995727922997,
                -66.8906349949867, 10.5153133026893
        );
        var options = {
            controls: [

            ],
            maxExtent: bounds,
            maxResolution: 0.0000764044173383,
            projection: "EPSG:4326",
            units: 'degrees'
        };


        //*****************settings*****************//

        //*****************map*****************//
        map = new OpenLayers.Map('map', options);
        //*****************map*****************//

        //*****************Protocols*****************//


/*

        var protocol = new OpenLayers.Protocol.WFS({
            version: "1.1.0",
            url:  "http://127.0.0.1:8080/geoserver/wfs/",
            featureType: "inspeccion_poligono",
            featureNS: "htttp://127.0.0.1:8080/geoserver/funvisis/"
            //srsName: "EPSG:4326"

        });
*/



        //*****************Protocols*****************//

        //*****************Layers*****************//
        select = new OpenLayers.Layer.Vector("chupalo");



        osm = new OpenLayers.Layer.OSM( "Simple OSM Map");
        layer = new OpenLayers.Layer.WMS(
                "funvisis:inspeccion_poligono", "http://127.0.0.1:8080/geoserver/funvisis/wms",
                {
                    LAYERS: 'funvisis:inspeccion_poligono',
                    STYLES: '',
                    format: format,
                    tiled: true,
                    tilesOrigin : map.maxExtent.left + ',' + map.maxExtent.bottom,
                    transparent:true
                },
                {
                    buffer: 0,
                    displayOutsideMaxExtent: true,
                    isBaseLayer: false,
                    yx : {'EPSG:4326' : true}
                }
        );
      /* var candelaria = new OpenLayers.Layer.Vector("Candelaria edificios", {
            strategies: [new OpenLayers.Strategy.Fixed()],
            protocol: protocol});

*/
        //*****************Layers*****************//

        //*****************Adding Layers To Map*****************//
        map.addLayers([osm,layer,select ]);
//        map.addLayer(layer);
//        map.addLayer(select);





        //*****************Adding Layers To Map*****************//

        url ="http://127.0.0.1:8080/geoserver/wfs?service=wfs&version=1.1.0&request=GetFeature&typeName=funvisis:inspeccion_poligono&featureID=200&outputFormat=json";

        OpenLayers.loadURL(url,OpenLayers,setHTML,setHTML);




        //*****************Controls*****************//
       /* get_feature_control = new OpenLayers.Control.GetFeature({
            protocol: protocol,
            box: false,
            click: true

        });*/
        layer_switcher_control = new OpenLayers.Control.LayerSwitcher();
        zoom_control = new OpenLayers.Control.PanZoomBar({ position: new OpenLayers.Pixel(15, 15) });
        navigation_control = new OpenLayers.Control.Navigation();
        mouse_position_control = new OpenLayers.Control.MousePosition();
        overview_control = new OpenLayers.Control.OverviewMap();
        keyboard_control = new OpenLayers.Control.KeyboardDefaults();

        //*****************Controls*****************//

        //*****************Events*****************//
        /*get_feature_control.events.register("featureselected", this, function(e) {
            alert(e.feature);
        });*/




        function setHTML(response){

            var response = response;
            //z = response.responseText;
            //document.getElementById('nodelist').innerHTML =z;

            geojson_format = new OpenLayers.Format.GeoJSON();
            myGeoJSON = { "type": "FeatureCollection",
                "features":
                        [

                            { "type": "Feature", "properties": { "LENGTH": 756.304000}, "geometry": { "type": "LineString", "coordinates": [ [ 18.105018, 59.231027 ], [ 18.104176, 59.230737 ], [ 18.103928, 59.230415 ], [ 18.103650, 59.230336 ], [ 18.103028, 59.230463 ], [ 18.102491, 59.230418 ], [ 18.101976, 59.230237 ], [ 18.100893, 59.230110 ], [ 18.100117, 59.230016 ], [ 18.097715, 59.230262 ], [ 18.096907, 59.230376 ], [ 18.096637, 59.230405 ], [ 18.096578, 59.230428 ], [ 18.096429, 59.230450 ], [ 18.096336, 59.230479 ], [ 18.096108, 59.230534 ], [ 18.095971, 59.230600 ], [ 18.095925, 59.230633 ], [ 18.095891, 59.230665 ], [ 18.094000, 59.231676 ], [ 18.093864, 59.231720 ] ] } }
                            ,
                            { "type": "Feature", "properties": { "LENGTH": 1462.390000}, "geometry": { "type": "LineString", "coordinates": [ [ 17.877073, 59.461653 ], [ 17.877116, 59.461598 ], [ 17.876936, 59.461507 ], [ 17.876936, 59.461323 ], [ 17.876773, 59.461098 ], [ 17.876430, 59.460885 ], [ 17.876413, 59.460553 ], [ 17.876576, 59.460280 ], [ 17.876575, 59.460078 ], [ 17.876762, 59.460060 ], [ 17.877371, 59.460042 ], [ 17.877808, 59.460046 ], [ 17.878641, 59.460046 ], [ 17.879010, 59.460078 ], [ 17.879337, 59.460044 ], [ 17.879526, 59.459878 ], [ 17.879749, 59.459563 ], [ 17.880058, 59.459538 ], [ 17.880435, 59.459503 ], [ 17.887550, 59.453608 ], [ 17.887696, 59.453430 ], [ 17.887971, 59.453150 ], [ 17.888221, 59.452843 ], [ 17.888246, 59.452721 ], [ 17.888435, 59.452609 ], [ 17.888470, 59.452568 ], [ 17.888517, 59.452410 ] ] } }

                        ]
            };

            feature = geojson_format.read(response);
            alert(feature);

        };


       map.events.register('click', map, function (e) {
            //document.getElementById('nodelist').innerHTML = "Loading... please wait...";
            var params = {
                REQUEST: "GetFeatureInfo",
                EXCEPTIONS: "application/vnd.ogc.se_xml",
                BBOX: map.getExtent().toBBOX(),
                SERVICE: "WMS",
                INFO_FORMAT: 'text/html',
                QUERY_LAYERS: map.layers[1].params.LAYERS,
                FEATURE_COUNT: 50,
                Layers: 'funvisis:inspeccion_poligono',
                WIDTH: map.size.w,
                HEIGHT: map.size.h,
                format: format,
                styles: map.layers[0].params.STYLES,
                srs: map.layers[1].params.SRS};

            // handle the wms 1.3 vs wms 1.1 madness
            if(map.layers[0].params.VERSION == "1.3.0") {
                params.version = "1.3.0";
                params.j = parseInt(e.xy.x);
                params.i = parseInt(e.xy.y);
            } else {
                params.version = "1.1.1";
                params.x = parseInt(e.xy.x);
                params.y = parseInt(e.xy.y);
            }

            // merge filters
            if(map.layers[0].params.CQL_FILTER != null) {
                params.cql_filter = map.layers[0].params.CQL_FILTER;
            }
            if(map.layers[0].params.FILTER != null) {
                params.filter = map.layers[0].params.FILTER;
            }
            if(map.layers[0].params.FEATUREID) {
                params.featureid = map.layers[0].params.FEATUREID;
            }
         //OpenLayers.loadURL("http://127.0.0.1:8080/geoserver/funvisis/wms", params, this, setHTML,setHTML);

           OpenLayers.Event.stop(e);

        });
        // sets the HTML provided into the nodelist element




            //*****************Events*****************//

        //*****************Adding Contrls To Map*****************//
        map.addControl(layer_switcher_control);
        map.addControl(zoom_control);
        map.addControl(navigation_control);
        map.addControl(mouse_position_control);
        map.addControl(overview_control);
        map.addControl(keyboard_control);
        //*****************Adding Contrls To Map*****************//
        //get_feature_control.activate();
        map.setCenter(
                new OpenLayers.LonLat(-66.9101945258253, 10.4995727922997).transform(
                        new OpenLayers.Projection("EPSG:4326"),
                        map.getProjectionObject()
                ), 16
        );


    });





</script>
        <div align="center">


            <div id="nodelist">
                <em>Click on the map to get feature info</em>
            </div>

        </div>
        <br/>
<div id="map">

</div>