.field-box, .field-u_otros,.field-ados_los_c, .field-sep_edif  {

    position: relative;
    float: left;
    width: 500px;
    margin-left: 5%;

}

.aligned label{


    width: 16em;


}

form .aligned p.help {
    padding-left: 143px;
}