.field-box, .field-u_med_asis {

    position: relative;
    float: left;
    width: 500px;
    margin-left: 5%;

}

.aligned label{


    width: 16em;


}

form .aligned p.help {
    padding-left: 143px;
}



#uso_form p.help {
    padding-left: 99px;
}


#tipo_estructural_form p.help {
    padding-left: 0px;
}


#id_grado_deterioro_set-0-ec_agri_es{

    width: 18em;

}

.inline-group .aligned label {
    width: 17em;
}


.inline-related h3{

    display: none;

}

.add-another{

    display: none;

}

.counter{
    position:absolute;
    right:30%;
    top:0;
    font-size:20px;
    font-weight:bold;
    color:#000;
}
.warning{color:#600;}
.exceeded{color:#e00;}

.field-abert_losa, .field-tipo_predomi{

    margin-left: 5%;
    float: left;
    width: 500px;

}


.field-abert_losa, .field-tipo_predomi{

    margin-left: 5%;
    float: left;
    width: 500px;

}

/*
.field-t_o_manana, .field-t_o_tarde,.field-t_o_noche{

    margin-left: 5%;
    float: left;
    width: 55%;
    display: inline;


} */


ul.messagelist li {
    font-size: 18px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: red;

}